<!--
This is a page on the Freedombrowser network
servers (freedombrowser.org and stonklat.com)
© <%= Time.now.year %> of freedombrowser
(STONKLAT & The_Maple_Tree)
-->
<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>OpenBrowser</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="main-page">
<div class="dialog">
  <div>
    <%= yield %>
  </div>
  <p>
    <b>You are connected to the
      <%= image_tag 'locations/gb.svg', alt: '', style: 'width:16px; height:16px; vertical-align:middle;' %>
      <em> Great Britain</em> server | </b><a href="#not-implemented-yet">switch servers</a>
  </p>
</div>
</body>
</html>



