<!--
This is a page on the Freedombrowser network
servers (freedombrowser.org and stonklat.com)
© <%= Time.now.year %> of freedombrowser
(STONKLAT & The_Maple_Tree)
-->
<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>OpenBrowser</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="main-page">
<div class="dialog">
  <div>
    <%= yield %>
  </div>
  <p>Servers & hosting by freedombrowser.org</p>
</div>
<div class="powered" style="left: 0 !important;">
  <%= image_tag 'poweredby_centos.png', alt: 'Powered by CentOS', width: '129', height: '193' %>
  <%= image_tag 'poweredby_apache.png', alt: 'Powered by CentOS', width: '129', height: '129' %>
</div>
<div class="powered" style="right: 0 !important;">
  <%= image_tag('Freedombrowser_logo.png', width: 210, height: 130) %>
  <%= image_tag 'poweredby_britain.png', alt: 'Powered by CentOS', width: '129', height: '129' %>
</div>
</body>
</html>



